<!doctype html>
<html lang="en">
  <%- include('parts/head.ejs') -%>
  <body>
    <main class="d-flex flex-nowrap">
      <%- include('parts/sidebar.ejs') -%>
      <div class="container mt-2 d-flex justify-content-center w-100 mx-auto">
        <% if (chatId !== null && messages.length === 0) { %>
          <%- include('parts/404.ejs') -%>
        <% } else { %>
          <%- include('parts/chat.ejs') -%>
        <% } %>
      </div>
    </div>
    </main>
    <%- include('parts/footer.ejs') -%>
  </body>
</html>