<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Llama AI</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link <%= chatId === null ? 'active' : '' %>" aria-current="page">
        <i class="bi bi-plus-lg"></i>
        New chat
      </a>
    </li>
    <br/>
    <% for (const chat of chats) { %>
      <li class="nav-item">
        <a href="/<%= chat._id %>" class="nav-link <%= chatId === chat._id ? 'active' : '' %>">
          <i class="bi bi-chat-left-text"></i>
          <%= chat._id %>
        </a>
      </li>
    <% } %>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://1.gravatar.com/avatar/<%= userProfile.gravatar %>?size=128" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong><%= userProfile.name %></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
      <li><a class="dropdown-item" href="<%= process.env.ISSUER %>/account">Settings</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item disabled" href="#">Sign out</a></li>
    </ul>
  </div>
</div>